<html xmlns:th="https://www.thymeleaf.org">

<head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      border-style: solid;
      margin: 10px 0px 30px 0px;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </style>
</head>

<body>

<div>
    <form method="GET" enctype="multipart/form-data"
          th:action="@{/user/files/__${fileName}__/primary_key}">
        Search by primary key: <input th:type="text" th:name="primary_key" />
        <button>Search</button>
    </form>
    <div th:if="${item}" >
        <p th:text="@{'Item with primary key value ' + ${item.primaryKey} + ':'}"></p>
        <table>
            <thead>
            <tr>
                <th>PRIMARY KEY</th>
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>UPDATED TIMESTAMP</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="obj : ${item}">
                    <td th:text="${item.primaryKey}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.updatedTimestamp}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${itemNotFound}" >
        <p th:text="@{'Item with given ' + ${itemNotFound} + ' primary key value has not found.'}"></p>
    </div>
</div>

<div>
    <p th:text="@{'Content of a file ' + ${fileName} + ':'}"></p>
    <table>
        <thead>
            <tr>
                <th>PRIMARY KEY</th>
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>UPDATED TIMESTAMP</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.primaryKey}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.updatedTimestamp}"></td>
            </tr>
        </tbody>
    </table>
</div>

<form method="GET" enctype="multipart/form-data" th:action="@{/user}">
    <button>Go back to main page</button>
</form>

</body>
</html>